.about__block-two-column {
    display: flex;
    position: relative;
    gap: 80px;
}

.block-picture {
    flex-basis: 54%;
    background-image: url('../img/about_photos.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.block-picture:hover {
    transition-duration: 3s;
    transform: scale(1.05);
}

.block-text {
    flex-basis: 43%;
}

.about__description {
    font-weight: 400;
    font-size: var(--use-text);
    line-height: 28px;
    margin-bottom: 30px;
}

.about__quote {
    margin: 0;
    padding-top: 19px;
    font-weight: 400;
    font-size: 44px;
    line-height: 50px;
    text-transform: uppercase;
    position: relative;
}

.about__quote-text1 {
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    background-image: url('../img/icons/text-1.svg');
    background-size: 22px;
    top: 19px;
    left: 0;
    height: 59px;
    width: 22px;
}

.about__quote-text2 {
    margin-left: var(--margin-num);
    margin-bottom: 39px;
    max-width: 380px;
}

.about__quote-text2::after {
    content: '”';
    display: inline-block;
    font-weight: 900;
    font-size: 44px;
    line-height: var(--lineheight);
    color: var(--add-color);
    padding-left: 15px;
}

.about__quote-profile {
    display: flex;
    flex-direction: column;
}

.about__quote-author {
    display: flex;
    align-items: center;
    max-width: 355px;
    padding-left: 110px;
    margin-left: 103px;
    font-weight: 400;
    font-size: var(--use-text);
    line-height: 28px;
    text-transform: none;
    background-image: url(../img/icons/author.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 80px;
    min-height: 80px;
}

@media(max-width: 1366px) {
    .about__block-two-column {
        gap: 39.54px;
    }

    .block-picture {
        flex-basis: 51%;
    }

    .block-text {
        flex-basis: 48%;
    }

    .about__description {
        line-height: 24px;
        margin-bottom: 30px;
    }

    .about__quote {
        padding-top: 7px;
        font-size: 30px;
        line-height: 36px;
    }

    .about__quote-text1::before {
        font-size: 30px;
        line-height: 36px;
        padding-right: 10px;
    }

    .about__quote-text2 {
        margin-left: var(--margin-num);
        margin-bottom: 13px;
    }

    .about__quote-text2::after {
        font-size: 30px;
        line-height: 36px;
        padding-left: 15px;
    }

    .about__quote-author {
        max-width: 355px;
        padding-left: 105px;
        margin-left: 90px;
        font-size: 18px;
        line-height: 26px;
        background-size: 70px;
        min-height: 70px;
    }
}

@media(max-width: 1024px) {}

@media(max-width: 920px) {}

@media(max-width: 768px) {}

@media(max-width: 630px) {}

@media(max-width: 480px) {}

@media(max-width: 320px) {}