.about__container {
    padding: 0 130px;
}

.about__block-two-column {
    display: flex;
    position: relative;
    gap: 80px;
}

.block-picture {
    width: 600px;
    background-image: url('../img/about_photos.jpg');
    background-repeat: no-repeat;
    background-size: 600px;
    flex-shrink: 0;
}

.block-text {
    max-width: 590px;
    flex-wrap: wrap;
}

.about__description {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 30px;
}

.about__quote {
    margin: 0;
    padding-top: 19px;
    font-weight: 400;
    font-size: 44px;
    line-height: 50px;
    text-transform: uppercase;
}

.about__quote-text2 {
    margin-left: 40px;
    margin-bottom: 39px;
}

.about__quote-text1::before {
    content: '”';
    display: inline-block;
    font-weight: 900;
    font-size: 44px;
    line-height: 50px;
    /* or 114% */
    color: #6C0287;
    padding-right: 10px;
}

.about__quote-text2::after {
    content: '”';
    display: inline-block;
    font-weight: 900;
    font-size: 44px;
    line-height: 50px;
    color: #6C0287;
    padding-left: 15px;
}

.about__quote-profile {
    display: flex;
    flex-direction: column;
}

.about__quote-author {
    display: flex;
    align-items: center;
    width: 355px;
    padding-left: 110px;
    margin-left: 115px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-transform: none;
    background-image: url(../img/icons/author.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 80px;
    min-height: 80px;
}