.about__block {
    display: grid;
    grid-template-areas:
        "picture description"
        "picture quote";
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: 1fr 1.464fr;
    position: relative;
    gap: 48px 80px;
}

.about__block-picture {
    grid-area: picture;
    background-image: url('../img/about_photos.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.about__block-picture:hover {
    transition-duration: 3s;
    transform: scale(1.05);
}

.about__block-text {
    grid-area: description;
}

.about__description {
    font-weight: 400;
    font-size: var(--use-text);
    line-height: 28px;
    margin-bottom: 30px;
}

.about__description:last-child {
    margin-bottom: 0;
}

.about__block-quote {
    grid-area: quote;
    margin: 0;
    padding-top: 19px;
    font-weight: 400;
    font-size: 44px;
    line-height: 50px;
    text-transform: uppercase;
    position: relative;
}

.about__quote-text1 {
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    background-image: url('../img/icons/text-1.svg');
    background-size: 22px;
    top: 19px;
    left: 0;
    height: 59px;
    width: 22px;
}

.about__quote-text2 {
    margin-left: var(--margin-num);
    margin-bottom: 31px;
    max-width: 420px;
}

.about__quote-text2::after {
    content: '”';
    display: inline-block;
    font-weight: 900;
    font-size: 44px;
    line-height: var(--lineheight);
    color: var(--add-color);
    padding-left: 15px;
}

.about__quote-profile {
    display: flex;
    flex-direction: column;
}

.about__quote-author {
    display: flex;
    align-items: center;
    max-width: 355px;
    padding-left: 110px;
    margin-left: 103px;
    font-weight: 400;
    font-size: var(--use-text);
    line-height: 28px;
    text-transform: none;
    background-image: url(../img/icons/author.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 80px;
    min-height: 80px;
}

@media(max-width: 1366px) {
    .about__block {
        grid-template-columns: 0.95fr 1fr;
        grid-template-rows: 1fr 1.113fr;
        gap: 26px 39.54px;
    }

    .about__block-quote {
        padding-top: 7px;
        font-size: 30px;
        line-height: 36px;
    }

    .about__quote-text1 {
        position: absolute;
        background-size: 16px;
        top: 0px;
        height: 36px;
        width: 16px;
    }

    .about__quote-text2 {
        margin-left: var(--margin-num);
        margin-bottom: 13px;
    }

    .about__quote-text2::after {
        font-size: 30px;
        line-height: 36px;
        padding-left: 15px;
    }

    .about__quote-author {
        max-width: 355px;
        padding-left: 105px;
        margin-left: 90px;
        font-size: 18px;
        line-height: 26px;
        background-size: 70px;
        min-height: 70px;
    }
}

@media(max-width: 1024px) {
    .about__description {
        font-size: var(--use-text);
        line-height: 24px;
        margin-bottom: 28px;
    }

    .about__block-quote {
        padding-top: 0;
    }

    .about__quote-text2 {
        max-width: 400px;
    }
}

@media(max-width: 920px) {
    .about__block {
        grid-template-areas:
            "picture description"
            "quote quote";
        grid-template-columns: 1.374fr 1fr;
        grid-template-rows: 2fr 1fr;
        gap: 30px 28px;
    }

    .about__quote-text2 {
        max-width: 740px;
    }


    .about__quote-profile {
        align-items: end;
    }
}

@media(max-width: 768px) {
    .about__block {
        grid-template-areas:
            "picture description"
            "quote quote";
        grid-template-columns: 1.374fr 1fr;
        grid-template-rows: 2fr 1fr;
        gap: 30px 28px;
    }

    .about__block-picture {
        min-height: 280px;
    }

    .about__block-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about__description {
        font-size: var(--use-text);
        line-height: 22px;
        margin-bottom: 24px;
    }

    .about__quote-text1 {
        background-size: 16px;
        height: 30px;
        width: 16px;
    }

    .about__quote-text2 {
        margin-left: 21px;
        margin-bottom: 16px;
        max-width: 590px;
    }

    .about__quote-text2::after {
        padding-left: 5px;
    }

    .about__quote-profile {
        align-items: end;
    }

    .about__quote-author {
        padding-left: 95px;
        margin-left: 0px;
    }
}

@media(max-width: 630px) {
    .about__description {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 26px;
    }

    .about__block-quote {
        font-size: 18px;
        line-height: 26px;
    }

    .about__quote-text1 {
        background-size: 10px;
        height: 30px;
        width: 10px;
    }

    .about__quote-text2 {
        margin-top: 7px;
        margin-left: 13px;
        margin-bottom: 9px;
        /* max-width: 590px; */
    }

    .about__quote-text2::after {
        font-size: 18px;
        line-height: 26px;
        padding-left: 3px;
    }

    .about__quote-author {
        max-width: 230px;
        padding-left: 67px;
        font-size: 12px;
        line-height: 16px;
        background-size: 56px;
        min-height: 56px;
    }
}

@media(max-width: 480px) {
    .about__block {
        grid-template-areas:
            "description"
            "picture"
            "quote";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
        gap: 15px;
    }

    .about__block-picture {
        display: flex;
        background-position: center;
    }

    .about__quote-text2 {
        margin-left: 15px;
        margin-bottom: 6px;
        /* max-width: 280px; */
    }

    .about__quote-profile {
        align-items: start;
    }
}

@media(max-width: 320px) {}