/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.about__block {
    display: -ms-grid;
    display: grid;
    grid-template-areas:
        "picture description"
        "picture quote";
    -ms-grid-columns: 1.2fr 80px 1fr;
    grid-template-columns: 1.2fr 1fr;
    -ms-grid-rows: 1fr 48px 1.464fr;
    grid-template-rows: 1fr 1.464fr;
    position: relative;
    gap: 48px 80px;
}

.about__block-picture {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    grid-area: picture;
    background-image: url('../img/about_photos.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.about__block-picture:hover {
    -webkit-transition-duration: 3s;
    -o-transition-duration: 3s;
    transition-duration: 3s;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.about__block-text {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: description;
}

.about__description {
    font-weight: 400;
    font-size: var(--use-text);
    line-height: 28px;
    margin-bottom: 30px;
}

.about__description:last-child {
    margin-bottom: 0;
}

.about__block-quote {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: quote;
    margin: 0;
    padding-top: 19px;
    font-weight: 400;
    font-size: 44px;
    line-height: 50px;
    text-transform: uppercase;
    position: relative;
}

.about__quote-text1 {
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    background-image: url('../img/icons/text-1.svg');
    background-size: 22px;
    top: 19px;
    left: 0;
    height: 59px;
    width: 22px;
}

.about__quote-text2 {
    margin-left: var(--margin-num);
    margin-bottom: 31px;
    max-width: 420px;
}

.about__quote-text2::after {
    content: 'â€';
    display: inline-block;
    font-weight: 900;
    font-size: 44px;
    line-height: var(--lineheight);
    color: var(--add-color);
    padding-left: 15px;
}

.about__quote-profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.about__quote-author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 355px;
    padding-left: 110px;
    margin-left: 103px;
    font-weight: 400;
    font-size: var(--use-text);
    line-height: 28px;
    text-transform: none;
    background-image: url(../img/icons/author.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 80px;
    min-height: 80px;
}

@media(max-width: 1366px) {
    .about__block {
        -ms-grid-columns: 0.95fr 39.54px 1fr;
        grid-template-columns: 0.95fr 1fr;
        -ms-grid-rows: 1fr 26px 1.113fr;
        grid-template-rows: 1fr 1.113fr;
        gap: 26px 39.54px;
    }

    .about__block>*:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .about__block>*:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .about__block>*:nth-child(3) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .about__block>*:nth-child(4) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }

    .about__block-quote {
        padding-top: 7px;
        font-size: 30px;
        line-height: 36px;
    }

    .about__quote-text1 {
        position: absolute;
        background-size: 16px;
        top: 0px;
        height: 36px;
        width: 16px;
    }

    .about__quote-text2 {
        margin-left: var(--margin-num);
        margin-bottom: 13px;
    }

    .about__quote-text2::after {
        font-size: 30px;
        line-height: 36px;
        padding-left: 15px;
    }

    .about__quote-author {
        max-width: 355px;
        padding-left: 105px;
        margin-left: 90px;
        font-size: 18px;
        line-height: 26px;
        background-size: 70px;
        min-height: 70px;
    }
}

@media(max-width: 1024px) {
    .about__description {
        font-size: var(--use-text);
        line-height: 24px;
        margin-bottom: 28px;
    }

    .about__block-quote {
        padding-top: 0;
    }

    .about__quote-text2 {
        max-width: 400px;
    }
}

@media(max-width: 920px) {
    .about__block {
        grid-template-areas:
            "picture description"
            "quote quote";
        -ms-grid-columns: 1.374fr 28px 1fr;
        grid-template-columns: 1.374fr 1fr;
        -ms-grid-rows: 2fr 30px 1fr;
        grid-template-rows: 2fr 1fr;
        gap: 30px 28px;
    }

    .about__quote-text2 {
        max-width: 740px;
    }


    .about__quote-profile {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: end;
    }

    .about__block-picture {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
    }

    .about__block-text {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .about__block-quote {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
}

@media(max-width: 768px) {
    .about__block {
        grid-template-areas:
            "picture description"
            "quote quote";
        -ms-grid-columns: 1.374fr 28px 1fr;
        grid-template-columns: 1.374fr 1fr;
        -ms-grid-rows: 2fr 30px 1fr;
        grid-template-rows: 2fr 1fr;
        gap: 30px 28px;
    }

    .about__block-picture {
        min-height: 280px;
    }

    .about__block-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .about__description {
        font-size: var(--use-text);
        line-height: 22px;
        margin-bottom: 24px;
    }

    .about__quote-text1 {
        background-size: 16px;
        height: 30px;
        width: 16px;
    }

    .about__quote-text2 {
        margin-left: 21px;
        margin-bottom: 16px;
        max-width: 590px;
    }

    .about__quote-text2::after {
        padding-left: 5px;
    }

    .about__quote-profile {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: end;
    }

    .about__quote-author {
        padding-left: 95px;
        margin-left: 0px;
    }

    .about__block-picture {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
    }

    .about__block-text {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .about__block-quote {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
}

@media(max-width: 630px) {
    .about__description {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 26px;
    }

    .about__block-quote {
        font-size: 18px;
        line-height: 26px;
    }

    .about__quote-text1 {
        background-size: 10px;
        height: 30px;
        width: 10px;
    }

    .about__quote-text2 {
        margin-top: 7px;
        margin-left: 13px;
        margin-bottom: 9px;
        /* max-width: 590px; */
    }

    .about__quote-text2::after {
        font-size: 18px;
        line-height: 26px;
        padding-left: 3px;
    }

    .about__quote-author {
        max-width: 230px;
        padding-left: 67px;
        font-size: 12px;
        line-height: 16px;
        background-size: 56px;
        min-height: 56px;
    }
}

@media(max-width: 480px) {
    .about__block {
        grid-template-areas:
            "description"
            "picture"
            "quote";
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: 1fr 15px 2fr 15px 1fr;
        grid-template-rows: 1fr 2fr 1fr;
        gap: 15px;
    }

    .about__block-picture {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-position: center;
    }

    .about__quote-text2 {
        margin-left: 15px;
        margin-bottom: 6px;
        /* max-width: 280px; */
    }

    .about__quote-profile {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
    }

    .about__block-picture {
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
    }

    .about__block-text {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .about__block-quote {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
}

@media(max-width: 320px) {}