.advertising__container {
    padding: 0 130px;
}

.advertising__title {
    padding: 0 170px;
}

.advertising__list {
    display: flex;
    gap: 39px 20px;
    flex-wrap: wrap;
}

.advertising__item {
    display: flex;
    height: 228px;
    width: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.advertising__item:hover {
    transform: scale(1.1);
    transition-duration: 1.5s;
}

.advertising__item-vr {
    background-image: url('../img/adver-vr.jpg');
}

.advertising__item-audio {
    background-image: url('../img/adver-audio.jpg');
    margin-top: 70px;
}

.advertising__item-micro {
    background-image: url('../img/adver-micro.jpg');
}

.advertising__item-game {
    background-image: url('../img/adver-game.jpg');
}

.advertising__item-netflix {
    background-image: url('../img/adver-netflix.jpg');
}

.advertising__item-sony {
    background-image: url('../img/adver-sony.jpg');
}

.advertising__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    flex-wrap: wrap;
    margin-top: 155px;
    margin-left: 40px;
}