/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.advertising__title {
    max-width: 830px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.advertising__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr 39px 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 39px 20px;
    margin-bottom: 70px;
}

.advertising__list>*:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.advertising__list>*:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.advertising__list>*:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.advertising__list>*:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.advertising__list>*:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.advertising__list>*:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}

.advertising__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.advertising__item:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
    transition-duration: 1.5s;
}

.advertising__item-vr {
    background-image: url('../img/adver-vr.jpg');
}

.advertising__item-audio {
    background-image: url('../img/adver-audio.jpg');
}

.advertising__item-micro {
    background-image: url('../img/adver-micro.jpg');
}

.advertising__item-game {
    background-image: url('../img/adver-game.jpg');
}

.advertising__item-netflix {
    background-image: url('../img/adver-netflix.jpg');
}

.advertising__item-sony {
    background-image: url('../img/adver-sony.jpg');
}

.advertising__item:nth-child(2) {
    -webkit-transform: translateY(70px);
    -ms-transform: translateY(70px);
    transform: translateY(70px);
}

.advertising__item:nth-child(5) {
    -webkit-transform: translateY(70px);
    -ms-transform: translateY(70px);
    transform: translateY(70px);
}

.advertising__name {
    font-weight: 700;
    font-size: var(--use-text);
    line-height: 28px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 155px;
    margin-left: var(--margin-num);
}

@media(max-width: 1366px) {
    .advertising__list {
        gap: 30px 22px;
    }
}

@media(max-width: 1024px) {
    .advertising__list {
        margin-bottom: 53px;
    }

    .advertising__title {
        max-width: 645px;
        padding-bottom: 10px;
    }

    .advertising__name {
        font-size: 20px;
        margin-top: 114px;
        margin-left: 20px;
    }

    .advertising__item:nth-child(2) {
        -webkit-transform: translateY(53px);
        -ms-transform: translateY(53px);
        transform: translateY(53px);
    }

    .advertising__item:nth-child(5) {
        -webkit-transform: translateY(53px);
        -ms-transform: translateY(53px);
        transform: translateY(53px);
    }
}

@media(max-width: 920px) {}

@media(max-width: 768px) {
    .advertising__title {
        max-width: 520px;
        padding-bottom: 0;
    }

    .advertising__list {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-rows: 1fr 20px 1fr 20px 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
        margin-bottom: 0px;
    }

    .advertising__list>*:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .advertising__list>*:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .advertising__list>*:nth-child(3) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .advertising__list>*:nth-child(4) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }

    .advertising__list>*:nth-child(5) {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }

    .advertising__list>*:nth-child(6) {
        -ms-grid-row: 5;
        -ms-grid-column: 3;
    }

    .advertising__item:nth-child(2) {
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }

    .advertising__item:nth-child(5) {
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }

    .advertising__item-vr {
        background-image: url('../img/adver-768-vr.png');
    }

    .advertising__item-audio {
        background-image: url('../img/adver-768-audio.png');
    }

    .advertising__item-micro {
        background-image: url('../img/adver-768-micro.png');
    }

    .advertising__item-game {
        background-image: url('../img/adver-768-game.png');
    }

    .advertising__item-netflix {
        background-image: url('../img/adver-768-netflix.png');
    }

    .advertising__item-sony {
        background-image: url('../img/adver-768-sony.png');
    }

    .advertising__name {
        margin-top: 132px;
        margin-left: 30px;
    }
}

@media(max-width: 630px) {
    .advertising__title {
        max-width: 440px;
    }

    .advertising__item {
        min-height: 160px;
    }

    .advertising__name {
        font-size: 12px;
        line-height: 18px;
        margin-top: 30px;
        margin-left: 10px;
    }
}

@media(max-width: 480px) {
    .advertising__title {
        max-width: 280px;
    }

    .advertising__list {
        gap: 10px;
    }

    .advertising__item {
        min-height: 100px;
    }

    .advertising__name {
        font-size: 10px;
        line-height: 14px;
        /* margin-top: 30px;
        margin-left: 10px; */
    }
}

@media(max-width: 320px) {
    .advertising__item {
        min-height: 75px;
    }
}