/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.banner__container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 154px;
}

.banner__title {
    font-weight: 900;
    font-size: 150px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: -0.1em;
}

.banner__text {
    font-weight: 400;
    font-size: 28px;
    line-height: var(--lineheight);
    padding-left: 100px;
    margin-bottom: 30px;
}

.banner__text::after {
    content: '';
    display: inline-block;
    width: 675px;
    height: 762px;
    background-image: url('../img/banner.png');
    position: absolute;
    top: 61px;
    right: 130px;
}

.banner__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.info {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 400px;
    gap: 43px;
    margin-bottom: 150px;
}

.info__fact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.info__fact-number {
    font-weight: 900;
    font-size: 100px;
    line-height: 141px;
    color: var(--light-color);
}

.info__fact-text {
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    color: var(--main-color);
}

.info__fact-new {
    font-weight: 900;
    font-size: 75px;
    line-height: 106px;
    font-variant: all-small-caps;
    color: var(--light-color);
}

.banner__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 374px;
    background: var(--add-color);
    border-radius: 10px;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--main-color);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* padding: 25px 69px; */
    padding-top: 25px;
    padding-bottom: 25px;
    /* z-index: 2; */
}

.banner__button:hover {
    background-color: #840AA3;
    background: -o-radial-gradient(at top left, purple, rgb(87, 4, 87), purple);
    background: radial-gradient(at top left, purple, rgb(87, 4, 87), purple);
    -webkit-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
}

.banner__button:focus {
    background-color: #840AA3;
    -webkit-transform: scaleY(0.9);
    -ms-transform: scaleY(0.9);
    transform: scaleY(0.9);
    -webkit-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
}

.banner__button:active {
    background-color: #640AA3;
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1);
    -webkit-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
}

.banner__down {
    position: absolute;
    display: block;
    right: 673px;
    bottom: 90px;
    width: 97px;
    height: 97px;
    color: var(--main-color);
    cursor: pointer;
}

.banner__down:hover {
    border-radius: 50%;
    background-color: var(--main-color);
    color: var(--add-color);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition-duration: 3s;
    -o-transition-duration: 3s;
    transition-duration: 3s;
}

.banner__down:focus {
    border: 1px solid #840AA3;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
}

.banner__down:active {
    border-radius: 50%;
    background-color: var(--light-color);
    border-color: var(--light-color);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
}

@media(max-width: 1366px) {
    .banner__container {
        padding-bottom: 130px;
    }

    .banner__title {
        font-size: 130px;
    }

    .banner__text::after {
        content: '';
        display: inline-block;
        width: 615px;
        height: 700px;
        background-image: url('../img/banner-1024.png');
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 63px;
        right: 60px;
    }

    .banner__button {
        max-width: 296px;
        font-size: 22px;
        padding-top: 17px;
        padding-bottom: 17px;
    }

    .banner__down {
        right: calc(50% - 47px);
    }
}

@media(max-width: 1024px) {
    .banner__container {
        padding-bottom: 66px;
    }

    .banner__title {
        font-size: 120px;
        margin-bottom: 20px;
    }

    .banner__text {
        font-size: 22px;
        line-height: 30px;
    }

    .banner__text::after {
        width: 453px;
        height: 520px;
        /* background-image: url('../img/banner-1024.png'); */
        /* top: 63px;
        right: 60px; */
    }

    .info {
        max-width: 348px;
        gap: 40px;
        margin-bottom: 80px;
    }

    .info__fact-number {
        font-size: 80px;
        line-height: 112.8px;
    }

    .info__fact-text {
        font-size: 26px;
        line-height: 30px;
    }

    .info__fact-new {
        font-size: 60px;
        line-height: 84.6px;
    }

    .banner__button {
        margin-left: 39px;
    }

    .banner__down {
        right: calc(50% - 33px);
        bottom: 46px;
        width: 67px;
        height: 67px;
    }
}

@media(max-width: 920px) {
    .banner__container {
        padding-bottom: 115px;
    }

    .banner__title {
        font-size: 86px;
    }

    .info {
        max-width: 310px;
    }

    .info__fact-text {
        font-size: 22px;
        line-height: 30px;
    }

    .info__fact-new {
        font-size: 50px;
        line-height: 80px;
    }

    .banner__button {
        max-width: 210px;
        border-radius: 6px;
        font-size: 16px;
        line-height: 24px;
        margin-left: 0;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

@media(max-width: 768px) {
    .banner__container {
        padding-bottom: 104px;
    }

    .banner__title {
        font-size: 86px;
    }

    .banner__text {
        font-size: 18px;
        line-height: 24px;
        padding-left: 70px;
        margin-bottom: 50px;
    }

    .banner__text::after {
        max-width: 409px;
        max-height: 479px;
        background-image: url('../img/banner-768.png');
        background-repeat: no-repeat;
        top: 58px;
        right: 40px;
    }

    .info {
        max-width: 221px;
        gap: 32px;
        margin-bottom: 100px;
    }

    .info__fact-number {
        font-size: 50px;
        line-height: 70.5px;
    }

    .info__fact-text {
        font-size: 16px;
        line-height: 18.4px;
    }

    .info__fact-new {
        font-size: 40px;
        line-height: 56.4px;
    }

    .banner__button {
        max-width: 174px;
        border-radius: 6px;
        font-size: 16px;
        line-height: 24px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .banner__down {
        display: none;
    }
}

@media(max-width: 630px) {
    .banner__container {
        padding-bottom: 23px;
    }

    .banner__title {
        font-size: 65px;
    }

    .banner__text {
        font-size: 16px;
        padding-left: 20px;
        margin-bottom: 30px;
    }

    .banner__text::after {
        max-width: 285px;
        max-height: 340px;
        top: 50px;
        right: 40px;
    }

    .info {
        max-width: 195px;
        gap: 20px;
    }

    .info__fact-number {
        font-size: 28px;
        line-height: 40px;
    }

    .info__fact-text {
        font-size: 12px;
        line-height: 20px;
    }

    .info__fact-new {
        font-size: 24px;
        line-height: 31px;
    }
}

@media(max-width: 530px) {
    .banner__title {
        font-size: 44px;
        margin-bottom: 6px;
    }

    .banner__text {
        font-size: 12px;
        line-height: 16px;
        padding-left: 10px;
        margin-bottom: 10px;
    }

    .banner__text::after {
        width: 190px;
        height: 229px;
        background-image: url('../img/banner-320.png');
        background-repeat: no-repeat;
        top: 25px;
        right: 20px;
    }

    .info {
        max-width: 160px;
        gap: 20px;
        margin-bottom: 30px;
    }

    .info__fact-number {
        font-size: 28px;
        line-height: 40px;
    }

    .info__fact-text {
        font-size: 12px;
        line-height: 20px;
    }

    .info__fact-new {
        font-size: 24px;
        line-height: 31px;
    }

    .banner__button {
        max-width: 117px;
        font-size: 10px;
        line-height: 12px;
        padding-top: 7px;
        padding-bottom: 7px;
    }
}

@media(max-width: 320px) {
    .banner__title {
        font-size: 35px;
        letter-spacing: -0.08em;
        margin-bottom: 6px;
    }

    .banner__text {
        font-size: 10px;
        line-height: 14px;
        padding-left: 20px;
        margin-bottom: 10px;
    }

    .banner__text::after {
        width: 161px;
        height: 179px;
        background-image: url('../img/banner-320.png');
        top: 25px;
        right: 20px;
    }

    .info {
        max-width: 140px;
        margin-bottom: 30px;
    }

    .info__fact-number {
        font-size: 26px;
        line-height: 36.6px;
    }

    .info__fact-text {
        font-size: 10px;
        line-height: 11.5px;
    }

    .info__fact-new {
        font-size: 22px;
        line-height: 31px;
    }

    /* .banner__button {
        max-width: 117px;
        font-size: 10px;
        line-height: 12px;
        padding: 7px 13px;
    } */
}