.booking__container {
    padding: 80px 130px;
    background-color: #440F51;
    color: #fff;
}

.field {
    display: flex;
    flex-direction: column;
}

.fieldset__legend {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 38px;
}

.radio,
.checkbox {
    position: relative;
}

.fieldset__halls {
    display: flex;
    gap: 60px;
    justify-content: space-between;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 60px;
    margin-top: 2px;
}

.radio-halls {
    background-color: #fff;
    padding: 7px 15px 8px;
    border: 3px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio-halls:hover {
    background-color: #EADEED;
    border: 3px solid #640AA3;
    transition-duration: 2s;
}

.radio-halls:focus {
    background-color: #FFFFFF;
    border: 3px solid #640AA3;
    transition-duration: 2s;
}

.radio-halls:active {
    background-color: #6C0287;
    border: 3px solid #FFFFFF;
    transition-duration: 2s;
}

.radio__input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 24px;
    height: 27px;
    vertical-align: middle;
    position: relative;
}

.radio__input:after {
    content: '';
    position: absolute;
    top: 8px;
    width: 24px;
    height: 27px;
    background-image: url('../img/icons/triangle.svg');
    background-repeat: no-repeat;
    opacity: 0;
}

.radio__input:checked:after {
    opacity: 1;
}

.radio__input-circle {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 27px;
    height: 27px;
    vertical-align: middle;
    position: relative;
    margin-right: 12px;
}

.radio__input-circle:focus {
    border: 1px solid #CD06FF;
    transition-duration: 3s;
}

.radio__input-circle::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.radio__input-circle::after {
    content: '';
    position: absolute;
    inset: 0;
    transform: scale(0.4);
    background-color: #6C0287;
    border-radius: 50%;
    opacity: 0;
}

.radio__input-circle:checked:after {
    opacity: 1;
}

.checkbox__input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    position: relative;
    margin-right: 12px;
}

.checkbox__input:focus {
    border: 1px solid #CD06FF;
    transition-duration: 2s;
}

.checkbox__input::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #FFFFFF;
}

.checkbox__input::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-color: transparent #CD06FF #CD06FF transparent;
    border-width: 5px;
    border-style: solid;
    transform: rotate(45deg);
    bottom: 10px;
    left: 3px;
    opacity: 0;
}

.checkbox__input:checked:after {
    opacity: 1;
}

.fieldset-set {
    display: flex;
    padding: 0 100px;
    gap: 100px;
    margin-bottom: 60px;
    margin-top: 2px;
}

.fieldset-set-option {
    display: flex;
    flex-direction: column;
}

.fieldset-set-console {
    flex-basis: 32%;
}

.fieldset-set-plays,
.fieldset-set-add {
    flex-basis: 34%;
}

.fieldset-set__legend {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 24px;
}

.fieldset-set__radio,
.fieldset-set__checkbox {
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    padding-bottom: 22px;
}

.fieldset-person {
    padding: 0 100px;
    display: flex;
    margin-bottom: 40px;
    gap: 50px;
}

.person-info {
    display: flex;
    flex-wrap: wrap;
}

.person-info-connect {
    flex-basis: 34%;
}

.person-info-event {
    flex-basis: 34%;
    margin-top: 12px;
}

.person-info-person {
    flex-basis: 32%;
}

.person-info__input {
    width: 100%;
    height: 52px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #211E1E;
    background-color: #fff;
    padding: 12px 20px;
    border: 0;
}

.person-info__input:focus {
    border: 2px solid #CD06FF;
    transition-duration: 2s;
}

.person-info-event__text::after {
    content: '';
    display: inline-block;
    width: 21px;
    height: 15px;
    background-image: url('../img/icons/triangle.svg');
    background-repeat: no-repeat;
    background-size: 21px;
    background-position: right;
    vertical-align: middle;
}

.person-info__label {
    margin-bottom: 14px;
}

.person-info__label:last-child {
    margin-bottom: 0;
}

.person-info-event__label {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #211E1E;
}

.person-info-data {
    display: flex;
    gap: 32px;
    margin-bottom: 36px;
}

.person-info__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 6px;
}

.booking__button {
    display: inline-block;
    background: #FFFFFF;
    border-radius: 10px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #6C0287;
    padding: 16px 50px;
    margin-left: auto;
    margin-right: 100px;
}

.booking__button:hover {
    background-color: #EADEED;
    border: 3px solid #6C0287;
    animation-name: anim-booking-button;
    animation-duration: 1s;
}

@keyframes anim-booking-button {
    20% {
        transform: scale(1.05);
    }

    40% {
        transform: scale(1.1);
    }

    60% {
        transform: scale(1.15);
    }

    70% {
        transform: scale(1.1);
    }

    80% {
        transform: scale(1.05);
    }
}

.booking__button:focus {
    background-color: #FFFFFF;
    border: 3px solid #6C0287;
    animation-duration: 2s;
}

.booking__button:active {
    background-color: #EADEED;
    background: radial-gradient(at top left, #EADEED, rgb(210, 161, 210), rgb(176, 108, 176), #EADEED);
    transition-duration: 2s;
}