/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.booking__container {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: var(--main-bg-color);
    color: var(--main-color);
}

.field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.fieldset__legend {
    text-align: center;
    margin-bottom: 38px;
}

.fieldset__legend,
.fieldset-set__legend {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.radio,
.checkbox {
    position: relative;
}

.fieldset__halls {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 60px 1fr 60px 1fr 60px 1fr;
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    gap: 60px;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 60px;
    margin-top: 2px;
}

.fieldset__halls>*:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.fieldset__halls>*:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.fieldset__halls>*:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.fieldset__halls>*:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
}

.radio-halls {
    background-color: var(--main-color);
    padding-top: 7px;
    padding-bottom: 8px;
    padding-right: 20px;
    border: 3px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.radio-halls:hover {
    background-color: #EADEED;
    border: 3px solid #640AA3;
    -webkit-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
}

.radio-halls:focus {
    background-color: var(--main-color);
    border: 3px solid #640AA3;
    -webkit-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
}

.radio-halls:active {
    background-color: var(--add-color);
    border: 3px solid var(--main-color);
    -webkit-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
}

.radio__input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 24px;
    height: 27px;
    vertical-align: middle;
    position: relative;
}

.radio__input:after {
    content: '';
    position: absolute;
    top: 8px;
    width: 24px;
    height: 27px;
    background-image: url('../img/icons/triangle.svg');
    background-repeat: no-repeat;
    opacity: 0;
}

.radio__input:checked:after {
    opacity: 1;
}

.fieldset-set {
    display: -ms-grid;
    display: grid;
    padding: 0 100px;
    grid-template-areas:
        "set-console set-plays set-add";
    gap: 100px;
    margin-bottom: 60px;
    margin-top: 2px;
}

.fieldset-set-console,
.fieldset-set-plays,
.fieldset-set-add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.fieldset-set-console {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: set-console;
}

.fieldset-set-plays {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: set-plays;
}

.fieldset-set-add {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: set-add;
}

.fieldset-set__legend {
    margin-bottom: 24px;
}

.fieldset-set__radio,
.fieldset-set__checkbox {
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    padding-bottom: 20px;
}

.radio__input-circle {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 27px;
    height: 27px;
    vertical-align: middle;
    position: relative;
    margin-right: 12px;
}

.radio__input-circle:focus {
    border: 1px solid var(--light-color);
    -webkit-transition-duration: 3s;
    -o-transition-duration: 3s;
    transition-duration: 3s;
}

.radio__input-circle::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--main-color);
    border-radius: 50%;
}

.radio__input-circle::after {
    content: '';
    position: absolute;
    inset: 0;
    -webkit-transform: scale(0.4);
    -ms-transform: scale(0.4);
    transform: scale(0.4);
    background-color: var(--add-color);
    border-radius: 50%;
    opacity: 0;
}

.radio__input-circle:checked:after {
    opacity: 1;
}

.checkbox__input {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 12px;
}

.checkbox__input:focus {
    border: 1px solid var(--light-color);
    -webkit-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
}

.checkbox__input::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--main-color);
}

.checkbox__input::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-color: transparent var(--light-color) var(--light-color) transparent;
    border-width: 5px;
    border-style: solid;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 10px;
    left: 3px;
    opacity: 0;
}

.checkbox__input:checked:after {
    opacity: 1;
}

.fieldset-person {
    display: -ms-grid;
    display: grid;
    padding: 0 100px;
    grid-template-areas:
        "event person connect";
    -ms-grid-columns: 1fr 50px 0.93fr 50px 1fr;
    grid-template-columns: 1fr 0.93fr 1fr;
    gap: 50px;
    margin-bottom: 60px;
}

.person-info-person {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: person;
}

.person-info-connect {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: connect;
}

.person-info-event {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: event;
    display: -ms-grid;
    display: grid;
    grid-template-areas:
        "data"
        "number";
    margin-top: 12px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #211E1E;
    gap: 36px;
}

.person-info-data {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: data;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
    margin-top: 6px;
}

.person-info-number {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: number;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

.person-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.person-info__label {
    margin-bottom: 14px;
    position: relative;
    width: 100%;
}

.person-info__label:last-child {
    margin-bottom: 0;
}

.person-info__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 6px;
}

.person-info__input {
    width: 100%;
    height: 52px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #211E1E;
    background-color: var(--main-color);
    padding: 12px 20px;
    border: 0;
}

.person-info__input:focus {
    border: 2px solid var(--light-color);
    -webkit-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
}

.person-info-event__text::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 21px;
    height: 15px;
    background-image: url('../img/icons/triangle.svg');
    background-repeat: no-repeat;
    background-size: 21px;
    background-position: right;
    vertical-align: middle;
}

.booking__button {
    display: inline-block;
    background: var(--main-color);
    border-radius: 10px;
    min-width: 300px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--add-color);
    /* padding: 16px 50px; */
    margin-left: auto;
    margin-right: 100px;
}

.booking__button:hover {
    background-color: #EADEED;
    /* border: 3px solid var(--add-color); */
    -webkit-animation-name: anim-booking-button;
    animation-name: anim-booking-button;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

@-webkit-keyframes anim-booking-button {
    20% {
        -webkit-transform: scale(1.05);
    }

    60% {
        -webkit-transform: scale(1.1);
    }

    80% {
        -webkit-transform: scale(1.05);
    }
}

@keyframes anim-booking-button {
    20% {
        transform: scale(1.05);
    }

    60% {
        transform: scale(1.1);
    }

    80% {
        transform: scale(1.05);
    }
}

.booking__button:focus {
    background-color: var(--main-color);
    border: 3px solid var(--add-color);
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.booking__button:active {
    background-color: #EADEED;
    background: -o-radial-gradient(at top left, #EADEED, rgb(210, 161, 210), rgb(176, 108, 176), #EADEED);
    background: radial-gradient(at top left, #EADEED, rgb(210, 161, 210), rgb(176, 108, 176), #EADEED);
    -webkit-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
}

@media(max-width: 1366px) {
    .fieldset__halls {
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
    }

    .fieldset-set {
        padding: 0 30px;
        margin-top: 0;
        gap: 67px;
    }

    .fieldset-person {
        padding: 0;
        -ms-grid-columns: 1.18fr 1fr 1fr;
        grid-template-columns: 1.18fr 1fr 1fr;
        margin-bottom: 50px;
    }

    .booking__button {
        margin-right: 30px;
    }
}

@media(max-width: 1024px) {
    .booking__container {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .fieldset__legend {
        margin-bottom: 26px;
    }

    .fieldset__halls {
        gap: 61px;
        font-size: 20px;
        line-height: 24px;
    }

    .radio-halls {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 5px;
        border: 2px solid transparent;
        border-radius: 6px;
        max-width: 180px;
        text-align: center;
    }

    .radio-halls:hover {
        border: 2px solid #640AA3;
    }

    .radio-halls:focus {
        border: 2px solid #640AA3;
    }

    .radio-halls:active {
        border: 2px solid var(--main-color);
    }

    .fieldset-set {
        padding: 0;
        gap: 80px;
        margin-bottom: 60px;
    }

    .booking__button {
        min-width: 254px;
        padding-top: 13px;
        padding-bottom: 13px;
        font-size: 18px;
        line-height: 24px;
        margin-right: 0px;
    }
}

@media(max-width: 920px) {
    .fieldset__halls {
        gap: 29px;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 50px;
    }

    .radio-halls {
        padding-top: 9px;
        padding-bottom: 9px;
        padding-right: 15px;
        border: 1px solid transparent;
        max-width: 150px;
    }

    .fieldset-set {
        grid-template-areas:
            "set-console set-plays"
            "set-add .";
        gap: 32px 66px;
        margin-bottom: 53px;
    }

    .fieldset-person {
        grid-template-areas:
            "event event"
            "person connect";
        -ms-grid-columns: 1fr 106px 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: 1fr 42px 2.7fr;
        grid-template-rows: 1fr 2.7fr;
        gap: 42px 106px;
        margin-bottom: 48px;
    }

    .person-info-event {
        grid-template-areas:
            "data  number";
        -ms-grid-columns: 1fr 106px 1fr;
        grid-template-columns: 1fr 1fr;
        margin-top: 0;
        gap: 106px;
    }

    .person-info-data {
        gap: 14px;
        margin-top: 0;
    }

    .booking__button {
        min-width: 300px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
    }

    .fieldset-set-console {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .fieldset-set-plays {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .fieldset-set-add {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .person-info-person {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .person-info-connect {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }

    .person-info-event {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .person-info-data {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .person-info-number {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
}

@media(max-width: 768px) {
    .booking__container {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .radio__input {
        width: 20px;
        height: 25px;
    }

    .field-set {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
    }

    .radio__input-circle {
        width: 40px;
        height: 40px;
        margin-right: 20px;
    }

    .radio__input:after {
        top: 8px;
        right: 2px;
        width: 17px;
        height: 12px;
    }

    .checkbox__input {
        width: 40px;
        height: 40px;
        vertical-align: middle;
        margin-right: 20px;
    }

    .checkbox__input::after {
        width: 20px;
        height: 20px;
        border-width: 5px;
        border-style: solid;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        bottom: 10px;
        left: 3px;
        opacity: 0;
    }
}

@media(max-width: 630px) {
    .fieldset__halls {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .fieldset__halls>*:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .fieldset__halls>*:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    .fieldset__halls>*:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }

    .fieldset__halls>*:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }

    .fieldset-set {
        grid-template-areas:
            "set-console"
            "set-plays"
            "set-add";
        gap: 32px;
        margin-bottom: 53px;
    }

    .fieldset-person {
        grid-template-areas:
            "event"
            "person"
            "connect";
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: 0.9fr 35px 1fr 35px 1fr;
        grid-template-rows: 0.9fr 1fr 1fr;
        gap: 35px;
        margin-bottom: 40px;
    }

    .person-info-event {
        -ms-grid-rows: auto 15px auto;
        grid-template-areas:
            "data"
            "number";
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        margin-top: 10px;
        gap: 15px;
    }

    .booking__button {
        min-width: 280px;
    }

    .fieldset-set-console {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .fieldset-set-plays {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .fieldset-set-add {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }

    .person-info-person {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .person-info-connect {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }

    .person-info-event {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .person-info-data {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .person-info-number {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
}

@media(max-width: 530px) {
    .booking__container {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .fieldset__legend {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 20px;
    }

    .fieldset__halls {
        gap: 20px 14px;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 30px;
    }

    .fieldset-set {
        gap: 25px;
        margin-bottom: 30px;
    }

    .radio__input-circle,
    .checkbox__input {
        width: 30px;
        height: 30px;
    }

    .fieldset-person {
        margin-bottom: 35px;
    }

    .booking__button {
        width: 100%;
        padding-top: 17px;
        padding-bottom: 17px;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
    }
}

@media(max-width: 320px) {

    .fieldset__legend,
    .fieldset-set__legend {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 15px;
    }

    .fieldset-set__radio,
    .fieldset-set__checkbox {
        font-size: 16px;
        line-height: 18px;
        padding-bottom: 15px;
    }
}