.booking__container {
    padding: 80px 130px;
    background-color: #440F51;
    color: #fff;
}

.field {
    display: flex;
    flex-direction: column;
}

.fieldset__legend {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 38px;
}

.radio__input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.radio__input-circle {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 27px;
    height: 27px;
    vertical-align: middle;
    position: relative;
    margin-right: 12px;
}

.radio__input-circle::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.radio__input-circle::after {
    content: '';
    position: absolute;
    inset: 0;
    transform: scale(0.4);
    background-color: #6C0287;
    border-radius: 50%;
    opacity: 0;
}

.radio__input-circle:checked:after {
    opacity: 1;
}

.checkbox__input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    position: relative;
    margin-right: 12px;
}

.checkbox__input::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #FFFFFF;
}

.fieldset__halls {
    display: flex;
    gap: 60px;
    justify-content: space-between;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 60px;
    margin-top: 2px;
}

.halls__radio {
    background-color: #fff;
    padding: 7px 15px 8px;
    border-radius: 8px;
    cursor: pointer;
}

.halls__radio:hover {
    background-color: #EADEED;
    border: 3px solid #640AA3;
}

.halls__radio:focus {
    background-color: #FFFFFF;
    border: 3px solid #640AA3;
}

.halls__radio:active {
    background-color: #6C0287;
    border: 3px solid #FFFFFF
}

.radio__input {
    border-color: #fff;
}

.fieldset__set {
    display: flex;
    padding: 0 100px;
    gap: 100px;
    margin-bottom: 60px;
    margin-top: 2px;
}

.fieldset__set-option {
    display: flex;
    flex-direction: column;
}

.fieldset__set-console {
    flex-basis: 32%;
}

.fieldset__set-plays,
.fieldset__set-add {
    flex-basis: 34%;
}

.set-option__legend {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 24px;
}

.set-option__radio,
.set-option__checkbox {
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    padding-bottom: 22px;
}

.fieldset__person {
    padding: 0 100px;
    display: flex;
    margin-bottom: 40px;
    gap: 50px;
}

.person__info {
    display: flex;
    flex-wrap: wrap;
}

.person__info-connect {
    flex-basis: 34%;
}

.person__info-event {
    flex-basis: 34%;
    margin-top: 12px;
}

.person__info-person {
    flex-basis: 32%;
}

.person__info-input {
    width: 100%;
    height: 52px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #211E1E;
    background-color: #fff;
    padding: 12px 20px;
    border: 0;
}

.person__info-input:focus {
    border: 2px solid #CD06FF;
}

.person__info-event-text::after {
    content: '';
    display: inline-block;
    width: 21px;
    height: 15px;
    background-image: url('../img/icons/triangle.svg');
    background-repeat: no-repeat;
    background-size: 21px;
    background-position: right;
    vertical-align: middle;
}

.person__info-label {
    margin-bottom: 14px;
}

.person__info-label:last-child {
    margin-bottom: 0;
}

.person__info-event-label {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #211E1E;
}

.person__info-data {
    display: flex;
    gap: 32px;
    margin-bottom: 36px;
}

.person__info-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 6px;
}

.booking__button {
    display: inline-block;
    background: #FFFFFF;
    border-radius: 10px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #6C0287;
    padding: 16px 50px;
    margin-left: auto;
    margin-right: 100px;
}

.booking__button:hover {
    background-color: #EADEED;
    border: 3px solid #6C0287;
}

.booking__button:focus {
    background-color: #FFFFFF;
    border: 3px solid #6C0287;
}

.booking__button:active {
    background-color: #EADEED;
}