.feedback__block {
    display: flex;
    padding-right: 100px;
    padding-left: 100px;
    margin: 0 auto;
}

.feedback__item {
    display: flex;
    position: relative;
    padding-bottom: 50px;
}

.feedback__item:last-child {
    padding-bottom: 0;
}

.feedback__figure {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.feedback__img {
    max-width: 260px;
    padding-bottom: 11px;

}

.feedback__name {
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
    text-align: center;
}

.feedback__description {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    padding-top: 52px;
}