.feedback__container {
    padding: 0 130px;
}

.feedback__list {
    display: flex;
    flex-direction: column;
    padding-right: 120px;
    padding-left: 100px;
}

.feedback__block {
    display: flex;
    padding-right: 100px;
    padding-left: 100px;
    margin: 0 auto;
}

.feedback__item {
    display: flex;
    position: relative;
    padding-bottom: 50px;
}

.feedback__item:last-child {
    padding-bottom: 0;
}

.feedback__figure {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.feedback__img {
    max-width: 280px;
    padding-bottom: 11px;
}

.feedback__figure::after {
    content: "";
    display: block;
    width: 280px;
    height: 280px;
    border-radius: 140px;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    background-image: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
}

.feedback__name {
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
    text-align: center;
}

.feedback__description {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    padding-top: 52px;
}