/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.feedback__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 100px;
    padding-left: 100px;
}

.feedback__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding-bottom: 50px;
}

.feedback__item:last-child {
    padding-bottom: 0;
}

.feedback__figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 20px;
}

.feedback__img {
    max-width: 280px;
    margin-bottom: 11px;
}

.feedback__figure::after {
    content: "";
    display: block;
    width: 280px;
    height: 280px;
    border-radius: 140px;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    background-image: -o-radial-gradient(50% 50%, 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
    background-image: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
}

.feedback__name {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

.feedback__description {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    padding-top: 52px;
}

@media(max-width: 1366px) {}

@media(max-width: 1024px) {
    .feedback__list {
        padding-right: 80px;
    }

    .feedback__item {
        padding-bottom: 40px;
    }

    .feedback__figure {
        padding-right: 38px;
    }

    .feedback__img {
        max-width: 172px;
        margin-bottom: 21px;
    }

    .feedback__figure::after {
        width: 172px;
        height: 172px;
        border-radius: 86px;
    }

    .feedback__name {
        font-size: 18px;
        line-height: 26px;
    }

    .feedback__description {
        font-size: 18px;
        line-height: 26px;
        padding-top: 33px;
    }
}

@media(max-width: 920px) {
    .feedback__list {
        padding-left: 63px;
        padding-right: 44px;
    }

    .feedback__figure {
        padding-right: 30px;
    }

    .feedback__description {
        padding-top: 28px;
    }
}

@media(max-width: 768px) {
    .feedback__item {
        padding-bottom: 30px;
    }

    .feedback__figure {
        padding-right: 20px;
    }

    .feedback__img {
        max-width: 153px;
        margin-bottom: 17px;
    }

    .feedback__figure::after {
        width: 153px;
        height: 153px;
        border-radius: 76px;
    }

    .feedback__name {
        font-size: 14px;
        line-height: 20px;
    }

    .feedback__description {
        font-size: 16px;
        line-height: 22px;
        padding-top: 30px;
    }
}

@media(max-width: 630px) {
    .feedback__list {
        padding-left: 5px;
        padding-right: 5px;
    }

    .feedback__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-bottom: 20px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .feedback__img {
        margin-left: auto;
        margin-right: auto;
    }

    .feedback__figure {
        padding-right: 0;
        padding-bottom: 16px;
    }

    .feedback__figure::after {
        left: calc(50% - 76px);
    }
}

@media(max-width: 480px) {
    .feedback__img {
        max-width: 86px;
        margin-bottom: 9px;
    }

    .feedback__figure::after {
        width: 86px;
        height: 86px;
        border-radius: 43px;
        left: calc(50% - 43px);
    }

    .feedback__description {
        font-size: 12px;
        line-height: 16px;
        padding-top: 0;
    }
}

@media(max-width: 320px) {
    .feedback__list {
        padding-left: 0;
        padding-right: 0;
    }
}