/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.footer__container {
    padding-top: 50px;
    padding-bottom: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#1B1A1B), to(#370A37));
    background: -o-linear-gradient(top, #1B1A1B 0%, #370A37 100%);
    background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.footer__information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 150px;
    margin-bottom: 145px;
}

.footer__information-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 350px;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: var(--main-color);
}

.contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
}

.contact__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 14px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact__link:last-child {
    margin-bottom: 0;
}

.contact__link:hover {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
}

.contact__icon {
    color: var(--light-color);
    overflow: visible;
}

.contact__icon:hover {
    -webkit-animation-name: anim-svg;
    animation-name: anim-svg;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    /* transform: scale(1.5); */
}

@-webkit-keyframes anim-svg {
    20% {
        -webkit-transform: rotateY(90deg);
        transform: rotateY(90deg);
    }

    40% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    60% {
        -webkit-transform: rotateY(270deg);
        transform: rotateY(270deg);
    }
}

@keyframes anim-svg {
    20% {
        -webkit-transform: rotateY(90deg);
        transform: rotateY(90deg);
    }

    40% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    60% {
        -webkit-transform: rotateY(270deg);
        transform: rotateY(270deg);
    }
}

.contact__text {
    padding-left: 28px;
}

.text-space {
    margin-bottom: 39px;
}

.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.social__item {
    margin-right: 27px;
}

.social__item:last-child {
    margin-right: 0;
}

.social__item:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
    transition-duration: 1.5s;
}

.social__item:active {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

.social__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    width: 50px;
    color: var(--main-color);
}

.social__link:hover {
    color: #EADEED;
}

.social__link:focus {
    color: #EADEED;
    border: 1px solid var(--light-color);
}

.social__link:active {
    color: var(--light-color);
}

.copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.copyright-design {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 6px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.copyright__link-text:hover {
    color: var(--light-color);
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
}

@media(max-width: 1366px) {}

@media(max-width: 1024px) {
    .footer__container {
        padding-top: 35px;
    }

    .footer__information {
        gap: 58px;
        margin-bottom: 92px;
    }

    .footer__information-text {
        max-width: 304px;
        font-size: 24px;
        line-height: 28px;
    }

    .contact__link {
        margin-bottom: 7px;
    }

    .contact__text {
        padding-left: 13px;
    }

    .contact__icon {
        width: 26px;
        height: 26px;
    }

    .social__link {
        height: 40px;
        width: 40px;
    }
}

@media(max-width: 920px) {}

@media(max-width: 768px) {
    .footer__container {
        padding-top: 30px;
    }

    .footer__information {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 31px;
        margin-bottom: 75px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .footer__information-text {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .contact {
        text-align: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 27px;
    }

    .contact__link {
        margin-bottom: 27px;
    }

    .text-space {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        margin-bottom: 27px;
    }

    .text-space__icon {
        margin-right: -48px;
    }

    .contact__text {
        padding-left: 8px;
    }

    .social {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media(max-width: 630px) {}

@media(max-width: 480px) {
    .footer__container {
        padding-top: 15px;
    }

    .footer__information {
        gap: 36px;
        margin-bottom: 63px;
    }

    .footer__information-text {
        font-size: 14px;
        line-height: 18px;
    }

    .contact {
        margin-bottom: 10px;
    }

    .contact__link {
        margin-bottom: 10px;
    }

    .text-space {
        margin-bottom: 10px;
    }

    .contact__text {
        padding-left: 5px;
    }

    .text-space__icon {
        margin-right: -25px;
    }

    .contact__icon {
        width: 20px;
        height: 20px;
    }

    .social__item {
        margin-right: 20px;
    }

    .social__link {
        height: 30px;
        width: 30px;
    }

    .copyright {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        font-size: 12px;
    }

    .copyright-company {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 19px;
    }

    .copyright-design {
        gap: 5px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media(max-width: 320px) {}