.halls__container {
    padding: 0 130px;
}

.halls__list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.halls__item {
    display: flex;
    align-items: center;
    height: 349px;
    width: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.halls__link {
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    text-transform: uppercase;
    margin: 0 auto;
}

.halls__link:hover {
    transition-duration: 4s;
    transform: rotateY(360deg);
}

.halls__item_vibes {
    background-image: url('../img/hall-vibes.jpg');
}

.halls__item_wars {
    background-image: url('../img/hall-wars.jpg');
}

.halls__item_west {
    background-image: url('../img/hall-west.png');
}

.halls__item_neon {
    background-image: url('../img/hall-neon.jpg');
    margin-bottom: 0;
}