/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

header {
    padding-top: 30px;
    color: var(--main-color);
}

.header__container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__svg {
    min-width: 87px;
}

.navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 40px;
    font-weight: 400;
    font-size: 22px;
    line-height: var(--lineheight);
    text-transform: uppercase;
}

.navigation__item {
    margin-right: 1px;
}

.navigation__item:last-child {
    margin-right: 0;
}

.navigation__item:hover {
    color: var(--light-color);
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}

.navigation__burger {
    display: none;
}

.header__button {
    color: var(--main-color);
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    border: 3px solid var(--light-color);
    border-radius: 10px;
    padding: 12px 32px;
}

.header__button:hover {
    background-color: var(--add-color);
    border-color: var(--add-color);
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

.header__button:focus {
    background-color: var(--add-color);
}

.header__button:active {
    background-color: #640AA3;
    color: #EADEED;
}

@media(max-width: 1366px) {
    .navigation__list {
        gap: 20px;
    }

    .header__svg {
        max-width: 87px;
    }

    .header__button {
        font-size: 18px;
        line-height: 24px;
        border-radius: 8px;
        padding: 8px 24px;
    }
}

@media(max-width: 1024px) {
    .navigation__list {
        font-size: 18px;
        line-height: 22px;
    }
}

@media(max-width: 920px) {
    header {
        padding-top: 32px;
    }

    .navigation {
        position: absolute;
        top: -440px;
        background-color: #000;
        z-index: 666;
        width: 100%;
        max-width: 688px;
        padding: 58.5px 44px;
        border-radius: 0;
        -webkit-transition: top 0.5s;
        transition: top 0.5s;
    }

    .navigation_active {
        top: 60px;
    }

    .navigation__burger {
        display: block;
        position: relative;
        width: 54px;
        height: 29px;
        border: none;
        cursor: pointer;
        order: -1;
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
    }

    .navigation__line,
    .navigation__burger::before,
    .navigation__burger::after {
        position: absolute;
        left: 0;
        height: 5px;
        background: #6C0287;
        transition: transform 0.3s;
    }

    .navigation__line {
        width: 54px;
        top: 50%;
        transform: translateY(0);
        /* transition: transform 0.3s; */
        /* transform: translateY(-50%) scale(1); */
    }

    .navigation__burger::before {
        content: '';
        width: 54px;
        /* top: 0; */
        -webkit-transform: translateY(-12px);
        -ms-transform: translateY(-12px);
        transform: translateY(-12px);
        transition: transform 0.3s top 0.3s;
    }

    .navigation__burger::after {
        content: '';
        width: 31px;
        /* bottom: 0; */
        -webkit-transform: translateY(12px);
        -ms-transform: translateY(12px);
        transform: translateY(12px);
        transition: transform 0.3s top 0.3s;
    }

    .navigation__burger_active::before {
        top: 50%;
        transform: rotate(-45deg);
    }

    .navigation__burger_active .navigation__line {
        top: 50%;
        transform: rotate(45deg);
    }

    .navigation__burger_active::after {
        transform: translateY(-50%) scale(0);
        /* bottom: 0; */
    }

    .navigation__list {
        text-align: center;
        flex-direction: column;
        gap: 39px;
    }
}

@media(max-width: 768px) {
    .header__svg {
        min-width: 60px;
    }

    .header__button {
        max-width: 215px;
    }
}

@media(max-width: 530px) {
    header {
        padding-top: 20px;
    }

    .header__svg {
        max-width: 66px;
    }

    .header__button {
        display: none;
    }

    .navigation {
        /* min-width: 280px; */
        padding: 48px 27px;
    }

    .navigation_active {
        top: 50px;
    }

    .navigation__list {
        gap: 26px;
        font-size: 14px;
    }

    .navigation__burger {
        width: 39px;
        height: 20px;
    }

    .navigation__line,
    .navigation__burger::before,
    .navigation__burger::after {
        height: 3.45px;
    }

    .navigation__line {
        width: 39px;
        top: 11px;
    }

    .navigation__burger::before {
        width: 39px;
        -webkit-transform: translateY(-8.3px);
        -ms-transform: translateY(-8.3px);
        transform: translateY(-8.3px);
    }

    .navigation__burger_active::before {
        top: 50%;
        transform: rotate(-45deg);
    }

    .navigation__burger::after {
        width: 22.4px;
        /* -webkit-transform: translateY(8.3px);
        -ms-transform: translateY(8.3px);
        transform: translateY(8.3px); */
    }
}

@media(max-width: 320px) {}