/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

header {
    padding-top: 30px;
    color: var(--main-color);
}

.header__container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__svg {
    min-width: 87px;
}

.navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 40px;
    font-weight: 400;
    font-size: 22px;
    line-height: var(--lineheight);
    text-transform: uppercase;
}

.navigation__item {
    margin-right: 1px;
}

.navigation__item:last-child {
    margin-right: 0;
}

.navigation__item:hover {
    color: var(--light-color);
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}

.navigation__mobile {
    display: none;
}

.header__button {
    color: var(--main-color);
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    border: 3px solid var(--light-color);
    border-radius: 10px;
    padding: 12px 32px;
}

.header__button:hover {
    background-color: var(--add-color);
    border-color: var(--add-color);
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

.header__button:focus {
    background-color: var(--add-color);
}

.header__button:active {
    background-color: #640AA3;
    color: #EADEED;
}

@media(max-width: 1366px) {
    .navigation__list {
        gap: 20px;
    }

    .header__svg {
        max-width: 87px;
    }

    .header__button {
        font-size: 18px;
        line-height: 24px;
        border-radius: 8px;
        padding: 8px 24px;
    }
}

@media(max-width: 1024px) {
    .navigation__list {
        font-size: 18px;
        line-height: 22px;
    }
}

@media(max-width: 920px) {
    header {
        padding-top: 32px;
    }

    .navigation {
        display: none;
    }

    .navigation__mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }

    .navigation__btn {
        display: block;
        width: 54px;
        height: 29px;
        position: relative;
    }

    .navigation__line,
    .navigation__line::before,
    .navigation__line::after {
        position: absolute;
        top: 50%;
        margin-top: -2.5px;
        height: 5px;
        background: #6C0287;
        border-radius: 2px;
    }

    .navigation__line {
        width: 54px;
    }

    .navigation__line::before {
        content: '';
        width: 54px;
        -webkit-transform: translateY(-12px);
        -ms-transform: translateY(-12px);
        transform: translateY(-12px);
    }

    .navigation__line::after {
        content: '';
        width: 31px;
        -webkit-transform: translateY(12px);
        -ms-transform: translateY(12px);
        transform: translateY(12px);
    }
}

@media(max-width: 768px) {
    .header__svg {
        min-width: 60px;
    }

    .header__button {
        max-width: 215px;
    }
}

@media(max-width: 480px) {
    .header__button {
        display: none;
    }
}

@media(max-width: 320px) {
    header {
        padding-top: 20px;
    }

    .header__svg {
        max-width: 66px;
    }

    .navigation__btn {
        width: 39px;
        height: 20px;
    }

    .navigation__line,
    .navigation__line::before,
    .navigation__line::after {
        position: absolute;
        top: 50%;
        margin-top: -1.7px;
        height: 3.45px;
    }

    .navigation__line {
        width: 39px;
    }

    .navigation__line::before {
        width: 39px;
        -webkit-transform: translateY(-8.3px);
        -ms-transform: translateY(-8.3px);
        transform: translateY(-8.3px);
    }

    .navigation__line::after {
        width: 22.4px;
        -webkit-transform: translateY(8.3px);
        -ms-transform: translateY(8.3px);
        transform: translateY(8.3px);
    }
}