/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import "style.css";

.back__container {
    margin-top: 40px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}

.back__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 40px;
    background-image: url('../img/halls-img/Arrow-back.svg');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: left;
}

.back__link:hover {
    color: var(--light-color);
    font-weight: 500;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.hall__banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 700;
    font-size: 90px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 750px;
    margin-bottom: 50px;
}

.hall__banner-80-vibes {
    background-image: url('../img/halls-img/hall-80-vibes.png');
}

.hall__banner-star-wars {
    background-image: url('../img/halls-img/hall-star-wars.png');
}

.hall__banner-wild-west {
    background-image: url('../img/halls-img/hall-wild-west.png');
}

.hall__banner-neon-style {
    background-image: url('../img/halls-img/hall-neon-style.png');
}

.hall__description {
    max-width: 1000px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
}

.about-hall {
    display: -ms-grid;
    display: grid;
    grid-template-areas:
        "picture description";
    -ms-grid-columns: 1fr 80px 0.83fr;
    grid-template-columns: 1fr 0.83fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    position: relative;
    gap: 80px;
}

.about-hall__picture {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: picture;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 424px;
}

.about-hall__picture-vibes {
    background-image: url('../img/hall-vibes.jpg');
}

.about-hall__picture-wars {
    background-image: url('../img/hall-wars.jpg');
}

.about-hall__picture-west {
    background-image: url('../img/hall-west.png');
}

.about-hall__picture-neon {
    background-image: url('../img/hall-neon.jpg');
}

.about-hall__text {
    font-weight: 400;
    font-size: var(--use-text);
    line-height: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.about-hall__description {
    margin-bottom: 20px;
}

.about-hall__description:last-child {
    margin-bottom: 0;
}

.hall__list {
    gap: 20px;
    min-height: 229px;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
}

.hall__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    vertical-align: middle;
    /*background-position: center;
     background-repeat: no-repeat;
    background-size: cover; */
    cursor: pointer;
}

.hall__link {
    max-width: 170px;
}

.hall__link-text {
    vertical-align: middle;
}

.hall__link-img {
    object-fit: cover;
    height: 100%;
}

/* .hall__item_wars {
    background-image: url(../img/hall-wars.jpg);
}

.hall__item_west {
    background-image: url(../img/hall-west.png);
}

.hall__item_neon {
    background-image: url(../img/hall-neon.jpg);
}

.hall__item_vibes {
    background-image: url(../img/hall-vibes.jpg);
} */

.footer__hall {
    padding-top: 72px;
    padding-bottom: 44px;
}

@media(max-width: 1366px) {
    .hall__banner {
        max-width: 1366px;
    }

    .about-hall {
        gap: 50px;
    }
}

@media(max-width: 1024px) {
    .back__container {
        margin-top: 30px;
    }

    .hall__banner {
        max-width: 1024px;
        min-height: 534px;
        margin-bottom: 35px;
    }

    .hall__description {
        max-width: 800px;
        font-size: 20px;
        line-height: 30px;
    }

    .about-hall {
        gap: 30px;
    }

    .hall__list {
        min-height: 172px;
        line-height: 36px;
    }

    .footer__hall {
        padding-top: 47px;
        padding-bottom: 19px;
    }
}

@media(max-width: 920px) {
    .hall__banner {
        max-width: 920px;
    }
}

@media(max-width: 768px) {
    .back__container {
        margin-top: 20px;
        font-size: 16px;
    }

    .hall__banner {
        max-width: 768px;
        font-size: 60px;
        line-height: 72px;
        min-height: 402px;
        margin-bottom: 30px;
    }

    .hall__description {
        max-width: 688px;
        font-size: 16px;
        line-height: 24px;
    }

    .about-hall {
        -ms-grid-columns: 1fr 46px 0.95fr;
        grid-template-columns: 1fr 0.95fr;
        gap: 46px;
    }

    .about-hall__picture {
        min-height: 326px;
    }

    .about-hall__description {
        margin-bottom: 16px;
    }

    .hall__list {
        gap: 8px;
        min-height: 134px;
        font-size: 20px;
        line-height: 24px;
    }

    .hall__link {
        max-width: 100px;
    }

    .footer__hall {
        padding-top: 40px;
        padding-bottom: 18px;
    }
}

@media(max-width: 630px) {
    .hall__banner {
        max-width: 630px;
    }

    .about-hall {
        grid-template-areas:
            "picture"
            "description";
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: 2fr 15px 1fr;
        grid-template-rows: 2fr 1fr;
        gap: 15px;
    }

    .hall__list {
        display: flex;
        flex-direction: column;
        min-height: 540px;
    }

    .hall__item {
        min-width: 440px;
        margin: 0 auto;
    }

    .about-hall__picture {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
}

@media(max-width: 480px) {
    .back__container {
        font-size: 12px;
        line-height: 16px;
    }

    .back__link {
        padding: 20px 20px;
        background-size: 16px;
    }

    .hall__banner {
        max-width: 480px;
        font-size: 30px;
        line-height: 36px;
        min-height: 168px;
        margin-bottom: 15px;
    }

    .hall__description {
        max-width: 420px;
    }

    .about-hall__picture {
        min-height: 180px;
    }

    .about-hall__text {
        font-size: 12px;
        line-height: 16px;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
    }

    .about-hall__description {
        margin-bottom: 10px;
    }

    .hall__list {
        min-height: 440px;
    }

    .hall__item {
        min-width: 320px;
    }

    .footer__hall {
        padding-top: 22px;
        padding-bottom: 24px;
    }
}

@media(max-width: 320px) {
    .hall__banner {
        max-width: 320px;
    }

    .hall__description {
        max-width: 280px;
    }

    .hall__list {
        gap: 5px;
        /* min-height: 340px; */
    }

    .hall__item {
        min-height: 140px;
        min-width: 280px;
    }
}